.flex-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  border: 5px solid red;
}


.left_container{
  background: url(./image.avif);
  background-size: contain;
  width: 40%;
  height: 100vh;
}

.right_container{
  background: greenyellow;
  height: 100vh;
  width: 100vw;
}

.strip {
  position: absolute;
  top: 30%;
  width: 100vw; /* Stretches across the entire viewport */
  height: 15%; /* Adjust thickness of the strip */
  background: rgba(0, 0, 0, 0.5); /* Example color, adjust as needed */
  transform: translateY(-50%); /* Centers the strip */
}
